let mapleader = " "
syntax on
set nocompatible
filetype on
filetype indent on
filetype plugin on
filetype plugin indent on
set encoding=utf-8
let &t_ut='' 
set expandtab
set tabstop=2
set shiftwidth=2
set softtabstop=2
        
 
set laststatus=2
set autochdir


set relativenumber
set wrap
set showcmd
set wildmenu

set hlsearch
exec "nohlsearch"
set incsearch
set ignorecase 
set smartcase 

"vim plug
call plug#begin('~/.vim/plugged')
Plug 'vim-airline/vim-airline'
Plug 'francoiscabrol/ranger.vim'


call plug#end()

let g:ranger_map_keys = 0
map <leader>f :Ranger<CR>



noremap j k
noremap k j

noremap J 5k
noremap K 5j
noremap n nzz
noremap N Nzz
noremap <LEADER><CR> :nohlsearch<CR>
noremap <LEADER>r    :source $MYVIMRC<CR>
noremap <LEADER>u    0
noremap <LEADER>i    $

map s <nop>
map S :w<CR>
map W :w!<CR>
map Q :q<CR>

map sl :set splitright<CR>:vsplit<CR>
map sh :set nosplitright<CR>:vsplit<CR>
map sj :set nosplitbelow<CR>:split<CR>
map sk :set splitbelow<CR>:split<CR>
map <LEADER>l <C-w>l
map <LEADER>h <c-w>h
map <LEADER>j <c-w>k
map <LEADER>k <c-w>j
map <UP>    :res +5 <CR>
map <DOWN>  :res -5 <CR>
map <left>  :vertical resize+5<CR>
map <right> :vertical resize-5<CR>
map sv <C-w>t<C-w>H
map sh <C-w>t<C-w>K

map ta  :tabe<CR>
map tu  :-tabnext<CR>
map ti :+tabnext<CR>








